name: build-matrix
run-name: ${{ github.actor }}
on: [push]
jobs:
  build:
    strategy:
      matrix:
        os:
          - ubuntu-24.04
          - ubuntu-24.04-arm
    runs-on: ${{matrix.os}}
    steps:
    
    - name: Checkout Code
      uses: actions/checkout@v4
    
    - name: Install build deps
      run: |
        sudo apt-get update
        sudo apt-get install -y build-essential

    - name: Compile main
      run: g++ main.cpp -o main

    - name: run main
      run: ./main
